@import '../../scss/config/variables';
//Input validation
.invalid-feedback, .valid-feedback {
    display: none;
}

input.invalid {
    border-color: #dc3545
}

.invalid ~ .invalid-feedback, {
    color: #dc3545;
    display: block;
}

.valid ~ .valid-feedback {
    color: #62df62;
    display: block;
}

.loading-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 10;

    .spinner {
        position: fixed;
        top: 440px;
        left: 50%;
    }
}


header {
    .header-contact-us {
        padding: 11px 0;
    }
}

.products {
    .filter-items li {
        a.active {
            color: #336699;
            font-weight: 800;
        }
        span {
            color: #888;
        }
    }

    .filter-items li.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .pagination li.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .product-wrapper .product-media img {
        height: 245px;
    }

    .header-bottom {
        border-bottom: 1px solid #eee;
    }

    .product-list {
        .product-desc {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            min-height: 100px;
            li {
                padding-left: 0;
            }
            li::before {
                content: none;
            }
        }
    }


}

.product-page {
    .widget-products .product-media img {
        width: 100px;
        height: 113px;
        object-fit: contain;
    }
}

.home {
    .brands-wrapper {
        .swiper-wrapper {
            img {
                height: 85px;
                object-fit: cover;
            }
        }
    }

    #recently_viewed {
        .swiper-wrapper {
            img {
                height: 155px;
                object-fit: cover !important;
            }
        }
        .product-category {
            color: #bfbfbf;
        }
    }

    .intro-section {
        .banner-content {
            h5 {
                font-weight: normal;
                color: #666;
                letter-spacing: -0.05em;
                line-height: 1;
                margin-bottom: 1rem;
                font-size: 4rem;
                display: inline-block;
            }

            h5.underline {
                margin: 0 10px;
                border-bottom: 3px solid #f77c29;
            }

            p {
                b {
                    color: #f77c29
                }
            }
        }
    }
}

.verify-email, .forgot-password {
    .popup-window {
        margin: 4.2rem auto 5rem;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        max-width: 50rem;
        padding: 3.3rem 5rem 2.6rem;

        .popup-window-icon {
            font-size: 6rem;
        }
    }
    .alert {
        text-align: left;
        ul {
            padding-left: 1rem;
            li:before {
                content: none;
                left: 0;
            }
        }
    }
}
